@import 'src/styles/vars';

.new{
  min-height: 100vh;
  padding: 50px 0;
  background-color: #f0ede8 ;
  display: flex;
  justify-content: center;
  align-items: start;


  &-content{

    
    width: 100%;
    min-width: 300px;
    max-width: 1200px;
    background-color: #fdfdfd;
    padding: 3rem 1rem;
    box-shadow: 0px 0px 71px -9px rgba(0,0,0,0.41);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 95vh;
  }
  
}

@media(min-width: 600px){
  .new{
    padding: 8rem 0;

    &-content{
      width: 80%;
      min-height: unset;
    }
  }
}